{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div class="hero-image">
        <div class="login-text">
            <h3>{% trans "Sign Up" %}</h3>
            <p>
                {% blocktrans %}
                    Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
                {% endblocktrans %}
            </p>
            <form class="signup" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <p>
                    <label for="id_email">Email:</label>
                    <input type="email"
                           name="email"
                           placeholder="Email address (Optional)"
                           autocomplete="email"
                           maxlength="320"
                           id="id_email">
                </p>
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text"
                           name="username"
                           placeholder="Username"
                           autocomplete="username"
                           minlength="4"
                           maxlength="150"
                           required
                           id="id_username">
                </p>
                <p>
                    <label for="id_password1">Password:</label>
                    <input type="password"
                           name="password1"
                           placeholder="Password"
                           autocomplete="new-password"
                           required
                           id="id_password1">
                           <p>
                            <strong>Password Requirements:</strong>
                            <ul>
                                <li>Passwords should have a minimum length of 8 characters.</li>
                                <li>Check that your password is not a common one used elsewhere.</li>
                                <li>Include at least one numeric character in your password.</li>
                            </ul>
                        </p>
                </p>
                <p>
                    <label for="id_password2">Password (again):</label>
                    <input type="password"
                           name="password2"
                           placeholder="Password (again)"
                           autocomplete="new-password"
                           required
                           id="id_password2">
                </p>
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary right" type="submit">{% trans "Sign Up" %}</button>
            </form>
            <br>
            <p>
                <strong>Register as a therapist:</strong>
                If you would like to register as a therapist and be listed in our
                therapist directory please contact the <a target="_blank" href="mailto:recipient@example.com?subject=ADDRESS%20NOT%20MONITORED&body=This%20email%20address%20is%20not%20monitored.%20It%20exists%20solely%20for%20the%20purposes%20of%20assessment%20for%20a%20course.">site adminstrator</a> after your account is
                registered to be given access to the relevant form. Please include your name and practice information when contacting us. Thank you.
                
            </p>
        </div>
        
    </div>
{% endblock %}
