asgiref==3.7.2
click==8.1.7
colorama==0.4.6
cssbeautifier==1.14.11
Django==4.2.7
djlint==1.34.0
EditorConfig==0.12.3
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.14.11
pathspec==0.11.2
regex==2023.10.3
sqlparse==0.4.4
tqdm==4.66.1
