@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif !important;
}

a {
  color: blue !important;
}

main {
  flex: 1 0 auto;
  background-color: white;
}

.scale {
  width: 60%;
  height: auto;
}

/* ------------------------------------Index Page */

.index-logo {
  width: 40%;
  padding-bottom: 8px;
}

.index-text {
  z-index: 0;
  background-color: rgba(212, 207, 207, 0.75);
  padding: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0a7cb4;
  border-radius: 15px;
  margin-left: 0px;
  margin-right: 15px;
}

.index-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 8px;
}

.index-blurb {
  text-align: left;
  color: #ddd;
  z-index: 0;
  background-color: #0a7cb4;
  padding: 20px;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  margin-right: 15px;
}

/* ------------------------------------About */

.site-owner-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 15px;
}

.about-text {
  text-align: left;
  color: #ddd;
  z-index: 0;
  background-color: #0a7cb4;
  padding: 20px;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  margin-right: 15px;
}

/* ------------------------------------Header */

.navbar {
  z-index: 1;
  background-color: #0a7cb4;
}

.navbar.navbar-expand-lg .navbar-custom-text,
.navbar.navbar-expand-lg .navbar-nav .nav-link {
  color: beige !important;
}

.header-logo {
  width: 10rem;
  padding-top: 5px;
  padding-right: 5px;
}

/* ------------------------------------Footer */
footer {
  flex-shrink: 0;
  background-color: #0a7cb4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icon {
  height: 2rem;
  margin: 1rem;
  color: white;
}

.active {
  border-bottom: 2px solid blue;
}

.footer-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.footer-info p {
  color: #ddd;
}

.footer-info .text-right {
  text-align: right;
}

.admin-link {
  text-align: justify;
  color: blue;
}

/* ----------------------------------------Hero Image */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('https://res.cloudinary.com/dpv6kxzru/image/upload/v1701431525/plant-bg_gto9oj.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.hero-text {
  z-index: 0;
  background-color: rgba(212, 207, 207, 0.75);
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0a7cb4;
  border-radius: 15px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  margin: 5px;
  padding: 10px 25px;
  color: #023047;
  border-radius: 15px;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* -------------------------------------------Login page */
.login-text {
  background-color: rgba(212, 207, 207, 0.75);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0a7cb4;
  border-radius: 15px;
}

/* ----------------------------------------Therapist_list */
.card-row {
  padding:10px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0a7cb4 !important;
  color: #ddd !important;
}

.card-body {
  flex-grow: 1;
}

.therapist-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.btn-danger {
  color: white !important;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* ----------------------------------------Disorder_list */
.disorder-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/* ----------------------------------------Disorder_detail */
.detail-text {
  color: white;
  font-weight: 500;
}

.disorder-pic {
  height: 300px;
}

/* ----------------------------------------Therapist_form */
.therapist-form {
  padding-bottom: 20px !important;
}

.update-card {
  background-color:#5c97b4;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 15px;
}

.form-container input, 
.form-container optgroup, 
.form-container select, 
.form-container textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  line-height: inherit;
}


/* ----------------------------------------Confirm_delete_therapist */

.delete-card {
  background-color: orange;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}