html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

main {
  flex: 1 0 auto;
  background-color: var(--white);
}

.scale {
  width: 60%;
  height: auto;

}

/* ------------------------------------Index Buttons */

.index-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px; 
}

.index-button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: blue; 
}





/* ------------------------------------Header */

.navbar {
  z-index: 1;
  background-color: #0a7cb4;
}

.navbar.navbar-expand-lg .navbar-custom-text,
.navbar.navbar-expand-lg .navbar-nav .nav-link {
  color: beige !important;
}

/* ------------------------------------Footer */
footer {
  flex-shrink: 0;
  background-color: #0a7cb4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.social-icon {
  height: 2rem;
  margin: 1rem;
  color: white;
}

.active {
  border-bottom: 2px solid blue;
}

/* ----------------------------------------Hero Image */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('https://res.cloudinary.com/dpv6kxzru/image/upload/v1701431525/plant-bg_gto9oj.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  z-index: 0;
  background-color: rgba(212, 207, 207, 0.75);
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0a7cb4;
  /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); */
  border-radius: 15px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  margin: 5px;
  padding: 10px 25px;
  color: #023047;
  border-radius: 15px;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* -------------------------------------------Login page */
.login-text {
  background-color: rgba(212, 207, 207, 0.75);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0a7cb4;
  border-radius: 15px;
}

/* ----------------------------------------Therapist_list */
.card-row {
  padding:10px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex-grow: 1;
}

.therapist-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/* ----------------------------------------Disorder_list */
.disorder-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/* ----------------------------------------Disorder_detail */
.detail-text {
  color: white;
  font-weight: 500;
}

/* ----------------------------------------Therapist_form */
.therapist-form {
  display: table-caption !important;
  padding-bottom: 20px !important;
}