{% load static %}
<footer>
    <div class="row footer-info">
        <div class="col-md-4 text-left">
            <p class="admin-link">To register as a speech therapist and be included in our directory please contact the <a target="_blank" href="mailto:recipient@example.com?subject=ADDRESS%20NOT%20MONITORED&body=This%20email%20address%20is%20not%20monitored.%20It%20exists%20solely%20for%20the%20purposes%20of%20assessment%20for%20a%20course.">site adminstrator</a></p>
        </div>
        <div class="col-md-4 text-center">
            <p>Copyright Paul Beardwell 2023</p>
            <p class="small text-muted">This website is intended solely for assessment purposes related to a course.</p>
        </div>
        <div class="col-md-4 text-right">
            <p>Helping parents and caregivers acheive the best for their children</p>
        </div>
    </div>
    {% comment %} <div class="row">
        <!-- Social media icons -->
        <div class="col-12 text-center">
            <a href="_blank" rel="noopener" aria-label="Linked In - opens in new tab" class="social-icon">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="_blank" rel="noopener" aria-label="twitter - opens in new tab" class="social-icon">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="_blank" rel="noopener" aria-label="github - opens in new tab" class="social-icon">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="_blank" rel="noopener" aria-label="instagram - opens in new tab" class="social-icon">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="_blank" rel="noopener" aria-label="youtube - opens in new tab" class="social-icon">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div> {% endcomment %}

</footer>
