{% load static %}
<footer>
    <div class="row footer-info">
        <div class="col-md-4 text-left">
            <p class="admin-link">To register as a speech therapist and be included in our directory please contact the 
            <a target="_blank" href="mailto:recipient@example.com?subject=ADDRESS%20NOT%20MONITORED&body=This%20email%20address%20is%20not%20monitored.%20It%20exists%20solely%20for%20the%20purposes%20of%20assessment%20for%20a%20course.">site adminstrator</a></p>
            
        </div>
        <div class="col-md-4 text-center">
            <p>Copyright Paul Beardwell 2023<br>&nbsp;<a href="{% url 'about' %}">About</a></p>
        </div>
        <div class="col-md-4 text-right">
            <p class="small text-muted">This website is intended solely for assessment purposes related to a course.</p>
        </div>
    </div>
</footer>