{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SpeechWell</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Directory</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Find therapist
            </a>
            <!-- Find therapist by region -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Scotland</a></li>
              <li><a class="dropdown-item" href="#">North</a></li>
              <li><a class="dropdown-item" href="#">Midlands</a></li>
              <li><a class="dropdown-item" href="#">South</a></li>
              <li><a class="dropdown-item" href="#">Wales</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">Login / Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>