{% extends "base.html" %}
{% block title %}Confirm Deletion{% endblock title %}
{% block content %}
    <div class="hero-image detail-text">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="delete-card">
                        <div class="card-body">
                            <form method="post"
                                  action="{% url 'delete_therapist' therapist.username %}">
                                {% csrf_token %}
                                <h1>Confirm Deletion</h1>
                                <!-- Record to be deleted fetched from Therapist model -->
                                <p>Are you sure you want to delete "{{ therapist.username }}"?</p>
                                <button type="submit" name="confirm_delete" class="btn btn-danger">Confirm Delete</button>
                                <a href="{% url 'therapist_list' %}" class="btn btn-secondary">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
