{% extends 'base.html' %}
{% load static %}

{% block title %}List of Therapists{% endblock %}

{% block content %}
<main class="card-row">
    <div class="content-area">
        <div class="container">
            <div class="row">
                {% for therapist in therapists %}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card custom-card">
                            <img src="{{ therapist.profile_pic.url }}" class="card-img-top therapist-img" alt="{{ therapist.username }} Image">
                            <div class="card-body">
                                <h2 class="card-title">{{ therapist.username }}</h2>
                                <p class="card-text"><strong>Phone:</strong> {{ therapist.phone_number|default:"None" }}</p>
                                <p class="card-text"><strong>Address:</strong> {{ therapist.address|default:"None" }}</p>
                                <p class="card-text"><strong>Specialties:</strong>
                                    {% for spec in therapist.specialty.all %}
                                        {{ spec.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="card-text"><strong>Bio:</strong> {{ therapist.bio|default:"None" }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        <div class="w-100 d-none d-md-block"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
