{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="hero-image">
            <div class="container therapist-form">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-xl-4">
                        <div class="update-card">
                            <div class="card-body">
                                <h2>Register as a Therapist</h2>
                                <form method="post"
                                      enctype="multipart/form-data"
                                      class="mt-4 therapist-form">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="mb-3">
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {% if field.help_text %}<small class="text-muted">{{ field.help_text }}</small>{% endif %}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
