{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Therapist{% endblock %}

{% block content %}
<div class="hero-image">
<div class="container">
    <h2>Update your information</h2>
    <form method="post" enctype="multipart/form-data" class="mt-4 therapist-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
</div>
{% endblock content %}