{% extends 'base.html' %}

{% block content %}
<div class="hero-image">
    <div class="container detail-text">
        <h1>{{ disorder.title }}</h1>
        <p><strong>Author:</strong> {{ disorder.author.username }}</p>
        <p><strong>Disorder Type:</strong> {{ disorder.disorder_type.name }}</p>
        <img src="{{ disorder.profile_pic.url }}" alt="{{ disorder.title }} Image">
        <p><strong>Description:</strong> {{ disorder.description | safe }}</p>
        <p><strong>Created On:</strong> {{ disorder.created_on }}</p>
    </div>
</div>
{% endblock %}

