{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_css %}
            <!-- To allow dynamic loading of CSS into other templates -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <!-- Bootstrap -->
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {% endblock %}
        <title>Speech Well -
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        {% include 'includes/header.html' %}

        <main>
            {% block content %}
            {% endblock %}            
        </main>

        {% include 'includes/footer.html' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/89fa774aea.js"
                crossorigin="anonymous"></script>
    </body>
</html>
